{% block contenu %}

    <center><h1>Le site est en maintenance, veuillez nous excuser pour la gène occasionnée.</h1></center>
    </br>
    </br>
   <center><img id="waw" alt="Bootstrap Image Preview" src="../web/images/maintenance.jpg"></center>
  
{% endblock %}
