{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  Se connecter
{% endblock %}

{% block contenu %}

  <h1>Mentions légales</h1>

{% endblock %}
